* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f30d0d;
    color: #7a6c6c;
}

header {
    background-color: #be2222;
    color: rgb(151, 125, 125);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 20px;
    background-color: rgb(145, 119, 119);
    margin: 20px 0;
}

.section h2 {
    margin-bottom: 15px;
    color: #b42525;
}

.section img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input,
form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #9e7272;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #ac2222;
    color: rgb(158, 112, 112);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #b92c2c;
}

footer {
    background-color: #c02424;
    color: rgb(119, 87, 87);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}